Repository is-tech-y24-1/Do-Svyazi.Message, pull requests merged in 2022-06, with the labels that each got.

#19 Application Exceptions
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Tools/ApplicationException.cs
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Tools/InvalidRequestException.cs
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Tools/NotFoundException.cs
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Tools/UnauthorizedException.cs
Labels: enhancement

#23 refactor: GetChatMessages query cursor type
  Source/Application/Do-Svyazi.Message.Application.CQRS/Messages/Queries/GetChatMessages.cs
Labels: refactoring

#24 Application Exceptions location
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Exceptions/ApplicationException.cs
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Exceptions/InvalidRequestException.cs
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Exceptions/NotFoundException.cs
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Exceptions/UnauthorizedException.cs
Labels: application, refactoring

#26 refactor: add message commands return type
  Source/Application/Do-Svyazi.Message.Application.CQRS/Messages/Commands/AddForwardedMessage.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Messages/Commands/AddMessage.cs
Labels: application, refactoring

#27 Added command query handlers
  Do-Svyazi.Message.sln
  Source/Application/Do-Svyazi.Message.Application.Abstractions/DataAccess/IMessageDatabaseContext.cs
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Do-Svyazi.Message.Application.Abstractions.csproj
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Exceptions/InvalidRequest/ForeignMessageException.cs
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Exceptions/NotFound/ChatUserNotFoundException.cs
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Exceptions/NotFound/ContentNotFoundException.cs
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Exceptions/NotFound/MessageNotFoundException.cs
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Exceptions/NotFound/UserNotFoundException.cs
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Integrations/IAuthorizationService.cs
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Services/IChatUserService.cs
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Services/IMessageService.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Messages/Commands/AddForwardedMessage.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Messages/Commands/AddMessage.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Messages/Commands/DeleteMessage.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Messages/Commands/SetMessageRead.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Messages/Commands/UpdateMessage.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Messages/Commands/UpdateMessageContent.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Messages/Queries/GetChatMessages.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Messages/Queries/GetUserChat.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Users/Queries/GetUserModel.cs
  Source/Application/Do-Svyazi.Message.Application.Dto/Messages/MessageContentDto.cs
  Source/Application/Do-Svyazi.Message.Application.Services/Do-Svyazi.Message.Application.Services.csproj
  Source/Application/Do-Svyazi.Message.Application.Services/Extensions/RegistrationExtensions.cs
  Source/Application/Do-Svyazi.Message.Application.Services/MessageService.cs
  Source/Do-Svyazi.Message.Domain/Entities/Messages/ForwardedMessage.cs
  Source/Do-Svyazi.Message.Domain/Entities/Messages/Message.cs
  Source/Do-Svyazi.Message.Domain/Exceptions/DomainException.cs
  Source/Do-Svyazi.Message.Domain/Exceptions/MissingContentException.cs
  Source/Do-Svyazi.Message.Domain/Tools/DomainException.cs
Labels: application

#31 feat: GetChatUserState
  Source/Application/Do-Svyazi.Message.Application.CQRS/Chats/Queries/GetChatUserState.cs
  Source/Application/Do-Svyazi.Message.Application.Dto/Chats/ChatUserStateDto.cs
Labels: application

#32 Server.HTTP Endpoints
  Source/Application/Do-Svyazi.Message.Application.CQRS/Chats/Queries/GetChatUserState.cs
  Source/Application/Do-Svyazi.Message.Application.Dto/Chats/ChatUserStateDto.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Controllers/ChatController.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Do-Svyazi.Message.Server.Http.csproj
Labels: enhancement, server

#34 HTTP.Server Middleware
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Do-Svyazi.Message.Application.Abstractions.csproj
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Exceptions/Unauthorized/UnauthenticatedException.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Controllers/ChatController.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Do-Svyazi.Message.Server.Http.csproj
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Extensions/HttpContextExtension.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Middlewares/AuthenticationMiddleware.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Middlewares/ExceptionHandlerMiddleware.cs
Labels: enhancement, server

#36 Server.HTTP
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Do-Svyazi.Message.Application.Abstractions.csproj
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Exceptions/Unauthorized/UnauthenticatedException.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Controllers/ChatController.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Do-Svyazi.Message.Server.Http.csproj
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Extensions/HttpContextExtension.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Middlewares/AuthenticationMiddleware.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Middlewares/ExceptionHandlerMiddleware.cs
Labels: enhancement, server

#38 GetUserChatIds query+handler
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Integrations/IAuthorizationService.cs
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Integrations/IUserModuleService.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Users/Queries/GetUserChatIds.cs
Labels: application

#35 Tcp Hub and Filters
  Source/Presentation/Server/Do-Svyazi.Message.Server.Tcp/Authentication/ChatAuthSchemeOptions.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Tcp/Authentication/MessageAuthenticationHandler.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Tcp/Do-Svyazi.Message.Server.Tcp.csproj
  Source/Presentation/Server/Do-Svyazi.Message.Server.Tcp/Filters/AuthenticationFilter.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Tcp/Filters/ExceptionFilter.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Tcp/Hubs/ChatHub.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Tcp/Providers/ChatUserIdProvider.cs
Labels: enhancement

#42 feat: get message query
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Services/IMessageService.cs
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Services/IUserService.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Messages/Commands/AddForwardedMessage.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Messages/Commands/DeleteMessage.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Messages/Commands/SetMessageRead.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Messages/Commands/UpdateMessage.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Messages/Commands/UpdateMessageContent.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Messages/Queries/GetMessage.cs
  Source/Application/Do-Svyazi.Message.Application.Services/MessageService.cs
Labels: application

#44 feat: application services implementation
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Exceptions/Unauthorized/UnauthorizedChatUserException.cs
  Source/Application/Do-Svyazi.Message.Application.Services/ChatUserService.cs
  Source/Application/Do-Svyazi.Message.Application.Services/Extensions/RegistrationExtensions.cs
  Source/Application/Do-Svyazi.Message.Application.Services/UserService.cs
Labels: application

#45 feat: implemented mapping
  Do-Svyazi.Message.Tests.Mapping/Do-Svyazi.Message.Tests.Mapping.csproj
  Do-Svyazi.Message.Tests.Mapping/MappingTests.cs
  Do-Svyazi.Message.sln
  Source/Infrastructure/Do-Svyazi.Message.Mapping/Do-Svyazi.Message.Mapping.csproj
  Source/Infrastructure/Do-Svyazi.Message.Mapping/Extensions/RegistrationExtensions.cs
  Source/Infrastructure/Do-Svyazi.Message.Mapping/Profiles/ChatDtosProfile.cs
  Source/Infrastructure/Do-Svyazi.Message.Mapping/Profiles/MessageDtosProfile.cs
Labels: infrastructure

#46 Added Chat Client Interface
  Source/Presentation/Client/Do-Svyazi.Message.Client.Tcp/Do-Svyazi.Message.Client.Tcp.csproj
  Source/Presentation/Client/Do-Svyazi.Message.Client.Tcp/Interfaces/IChatClient.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Tcp/Do-Svyazi.Message.Server.Tcp.csproj
  Source/Presentation/Server/Do-Svyazi.Message.Server.Tcp/Hubs/ChatHub.cs
Labels: enhancement

#49 Optimized authorization with SignalR
  Source/Presentation/Server/Do-Svyazi.Message.Server.Tcp/Extensions/HttpContextExtenstion.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Tcp/Filters/AuthenticationFilter.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Tcp/Hubs/ChatHub.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Tcp/Providers/ChatUserIdProvider.cs
Labels: refactoring

#50 Refactor/rich entity
  Source/Do-Svyazi.Message.Domain/Do-Svyazi.Message.Domain.csproj
  Source/Do-Svyazi.Message.Domain/Entities/Chats/Chat.cs
  Source/Do-Svyazi.Message.Domain/Entities/Chats/ChatUser.cs
  Source/Do-Svyazi.Message.Domain/Entities/Chats/User.cs
  Source/Do-Svyazi.Message.Domain/Entities/Messages/Content.cs
  Source/Do-Svyazi.Message.Domain/Entities/Messages/ForwardedMessage.cs
  Source/Do-Svyazi.Message.Domain/Entities/Messages/Message.cs
Labels: refactoring

#51 CRUD Operations for messages to HTTP
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Controllers/ChatController.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Do-Svyazi.Message.Server.Http.csproj
Labels: server

#52 Feat/web api
  Do-Svyazi.Message.sln
  Source/Application/Do-Svyazi.Message.Application.Abstractions/Services/IDateTimeService.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Chats/Queries/GetChatUserState.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Extensions/RegistrationExtensions.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Messages/Commands/AddForwardedMessage.cs
  Source/Application/Do-Svyazi.Message.Application.CQRS/Messages/Commands/AddMessage.cs
  Source/Application/Do-Svyazi.Message.Application.Services/Extensions/RegistrationExtensions.cs
  Source/Application/Do-Svyazi.Message.Application.Services/UserService.cs
  Source/Application/Do-Svyazi.Message.Application.Services/UtcDateTimeService.cs
  Source/Infrastructure/Do-Svyazi.Message.DataAccess/Extensions/RegistrationExtensions.cs
  Source/Infrastructure/Do-Svyazi.Message.Integrations/Extensions/RegistrationExtensions.cs
  Source/Infrastructure/Do-Svyazi.Message.Integrations/FakeUser/FakeAuthenticationService.cs
  Source/Infrastructure/Do-Svyazi.Message.Integrations/FakeUser/FakeAuthorizationService.cs
  Source/Infrastructure/Do-Svyazi.Message.Integrations/FakeUser/FakeUserModuleService.cs
  Source/Infrastructure/Do-Svyazi.Message.Mapping/Extensions/RegistrationExtensions.cs
  Source/Infrastructure/Do-Svyazi.Message.Mapping/Profiles/ContentDtosProfile.cs
  Source/Presentation/Sdk/Do-Svyazi.Message.Sdk.Http/Do-Svyazi.Message.Sdk.Http.csproj
  Source/Presentation/Sdk/Do-Svyazi.Message.Sdk.Tcp/Do-Svyazi.Message.Sdk.Tcp.csproj
  Source/Presentation/Sdk/Do-Svyazi.Message.Sdk.Tcp/Interfaces/IChatClient.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Controllers/ChatController.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Do-Svyazi.Message.Server.Http.csproj
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Extensions/HttpContextExtension.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Extensions/RegistrationExtensions.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Middlewares/ExceptionHandlerMiddleware.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Http/Models/UpdateMessageContentRequest.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Tcp/Authentication/ChatAuthSchemeOptions.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Tcp/Do-Svyazi.Message.Server.Tcp.csproj
  Source/Presentation/Server/Do-Svyazi.Message.Server.Tcp/Extensions/RegistrationExtensions.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.Tcp/Hubs/ChatHub.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.WebAPI/Authentication/MessageAuthenticationHandler.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.WebAPI/Authentication/MessageAuthenticationSchemeOptions.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.WebAPI/Do-Svyazi.Message.Server.WebAPI.csproj
  Source/Presentation/Server/Do-Svyazi.Message.Server.WebAPI/Extensions/RegistrationExtensions.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.WebAPI/Extensions/SwaggerExtensions.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.WebAPI/Program.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.WebAPI/Properties/launchSettings.json
  Source/Presentation/Server/Do-Svyazi.Message.Server.WebAPI/Utility/SwaggerPolymorphismProvider.cs
  Source/Presentation/Server/Do-Svyazi.Message.Server.WebAPI/appsettings.Development.json
  Source/Presentation/Server/Do-Svyazi.Message.Server.WebAPI/appsettings.json
  Tests/Do-Svyazi.Message.Tests.DataAccess/Do-Svyazi.Message.Tests.DataAccess.csproj
  Tests/Do-Svyazi.Message.Tests.DataAccess/UnitTest1.cs
  Tests/Do-Svyazi.Message.Tests.Mapping/Do-Svyazi.Message.Tests.Mapping.csproj
  Tests/Do-Svyazi.Message.Tests.Mapping/MappingTests.cs
Labels: server

#53 Chore/readme
  LICENSE
  README.md
Labels: documentation
